 
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@200;300&display=swap');

 body {
	margin: 0;
	padding: 0;
	font-family: 'Ysabeau', sans-serif;
	font-size: 16px;
    text-align: center;
	background-color: #AED4E6;
	color: #fff;
}

header {
	background-color: #1AC8ED;
	color: #fff;
	padding: 20px;
	font-size: 16px;
	font-family: 'ysabeau', sans-serif ;
	font-style: italic;
	color: #ced0ff;

    
}

.intro{
    border: 1px solid ;
	background-color: #616283;
	color: #fff;
	margin: 10px;
	border-radius: 10px;
	
}

.about{
    text-decoration: double underline;
}


nav ul {
	
	display: flex;
	justify-content: center;
	margin: 0 10px;

}

nav li {
	margin: 0 10px;
	font-weight: 100px ;
}
/*this is for the navigation bar*/ 
nav a {
	color: rgb(245, 245, 245);
	font-weight: bold;
	font-family: 'ysabeau';
}
nav a:hover {
	color: red;
}




section {
	margin: 10px;
	background-color: #374A67;
	padding: 20px;
	border-radius: 10px;
	
}


h2 {
	font-size: 32px;
	margin-bottom: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 5px 0;
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input, form textarea {
	margin-bottom: 20px;
	padding: 5px;
	border: 2px;
    border:  whitesmoke;
	border-radius: 5px;
}

form textarea {
	height: 150px;
}

form input[type="submit"] {
	background-color: wheat}

	


